nav {
  width: 100%;
  padding: 1% 7% 3%;
  background-color: #041c32;
  display: flex;
  align-items: center;
}
nav ul {
  flex: 1;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: #a6ebdf;
  text-decoration: none;
}

nav .btn {
  color: #fff;
  text-decoration: none;
  border: 1px solid#fff;
  padding: 10px 30px;
  border-radius: 20px;
}
